
.header{
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
	height: 50px;
    width: 100vw;
    background-color: aquamarine;

}

.nav_left{
    
	float: left;

}
li{
    margin: 20px;
    display: inline;
    list-style: none;
}