
.card{
    border: 1px solid red;
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: scale(0.75); */
}

img.img_card{

    height: auto;
    width: 300px;
	transition: all 2s ease-in-out ;
}

.card:hover img{
    transform: scale(1.15);
}